<% content_for :head do %>
	<script type="text/javascript">
	$(function() {
		$(document).foundation('orbit', {
			timer_speed: 10000,
			pause_on_hover: true,
			resume_on_mouseout: true,
			animation_speed: 500,
			bullets: true,
			stack_on_small: true,
			container_class: 'orbit-container',
			stack_on_small_class: 'orbit-stack-on-small',
			next_class: 'orbit-next',
			prev_class: 'orbit-prev',
			timer_container_class: 'orbit-timer',
			timer_paused_class: 'paused',
			timer_progress_class: 'orbit-progress',
			slides_container_class: 'orbit-slides-container',
			bullets_container_class: 'orbit-bullets',
			bullets_active_class: 'active',
			slide_number_class: 'orbit-slide-number',
			caption_class: 'orbit-caption',
			active_slide_class: 'active',
			orbit_transition_class: 'orbit-transitioning'
		});
	})
	</script>
<% end %>

<div id="page_one">
	<ul data-orbit class="orbit-slides-container">
			<% @movies.each do |movie| %>
			<li>
				<%= image_tag("#{movie.avatar_url}") %>
			</li>
			<% end %>
	</ul>
	<div class="row">
		<div class="large-5 small-6 columns">
			<div id="menu">
				<h4>最新电影资讯</h4>
				<ul>
					<% @notices.each do |notice| %>
					<li><%= link_to "#{notice.headline}", notice_path(notice) %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="large-4 small-6 columns">
			<h4>电影推荐</h4>
			<div class="movies">
				<% @movies.each_slice(2).each do |row| %>
					<div class="row">
						<% row.each do |movie| %>
						<div class="movie">
							<div class="movie-poster">
								<%= image_tag("#{movie.avatar_url}") %>
							</div>
							<div class="movie-name">
								<%= link_to "#{movie.name}", movie_path(movie) %>
							</div>
						</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="pagination-centered">
			<ul class="pagination">
				<li class="arrow unavailable"><a href="">&laquo;</a></li>
				<li class="current"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li class="unavailable"><a href="">&hellip;</a></li>
				<li><a href="">12</a></li>
				<li><a href="">13</a></li>
				<li class="arrow"><a href="">&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>
