<div class="form-inputs">
	<%= f.input :name %>
	<%= f.association :notice, label_method: :headline %>
</div>

<div class="form-actions">
	<%= f.submit class: "btn btn-primary" %>
	<%= link_to "Back", admin_characters_path, class: "btn" %>
</div>
