<h1>New character</h1>

<%= simple_form_for @character, url: admin_characters_path, :html => {:multipart => true,class: "form-horizontal" } do |f| %>
	<%= render partial: "form", locals: { f: f } %>
<% end %>